.melis-dashboard-plugin-creator-steps li {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    color: #7c7c7c;
    font-weight: 600;
    margin-right: 0px;
    border-left: 1px solid #e8e4e4;
}

.melis-dashboard-plugin-creator-steps li:first-child{
    border-left: 0px;
}

.melis-dashboard-plugin-creator-steps li:after {
    position: static;
    right: auto;
    top: auto;
    height: auto;
    width: auto;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    content: normal;
    z-index: auto;
}

.melis-dashboard-plugin-creator-steps li.active {
    border-left: 0px;
}
.melis-dashboard-plugin-creator-steps li.active:after {
    position: absolute;
    right: -20px;
    top: 0;
    height: 0;
    width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fafafa;
    border-top: 20px inset transparent;
    content: "";
    z-index: 2;
    border-left-color: #e61c23;
}

.melis-dashboard-plugin-creator-steps li span {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 40px;
    color: #7c7c7c;
    font-weight: 600;
    padding-left: 30px;
}

.melis-dashboard-plugin-creator-steps li.active span {
    color: #fff;
    cursor: default;
    padding-left: 30px;
}

.melis-dashboard-plugin-creator-steps li span {
    padding: 0px 8px 0 40px;
    padding-left: 10px;
}

.melis-dashboard-plugin-creator-steps li.active span {
    padding-left: inherit;
}

.melis-dashboard-plugin-creator-steps .bwizard-steps li:before {
    border-left: 10px solid #fff;
}

.melis-dashboard-plugin-creator-steps li.active:after {
    right: -10px;
    border-left: 10px solid #fafafa;
}

.melis-dashboard-plugin-creator-steps .bwizard-steps li:before{
    left: -1px;
}

.melis-dashboard-plugin-creator .steps-content{
    padding: 5px;
}

.melis-dashboard-plugin-creator .btn-steps:hover{
    background: #e61c23;
    color: #fff;
}

.melis-dpc-summary-item{
    margin-bottom: 20px;
}

.melis-dpc-summary-item-content{
    padding-left: 40px;
}

.melis-dpc-final-content .fa{
    width: 20px;
    cursor: pointer;
}

/*Plugin thumbnail*/
.melis-dashboard-plugin-creator-steps-content .plugin_thumbnail{
    width:100%; 
    height:100%
}

.melis-dashboard-plugin-creator-steps-content .plugin_thumbnail_div {
    position: relative;
    margin-bottom: 10px;
    width:190px; 
    height:100px
}

.melis-dashboard-plugin-creator-steps-content .padding-left-0{
    padding-left:0px;
}

.melis-dashboard-plugin-creator-steps-content .padding-left-5{
    padding-left:5px;
}

.melis-dashboard-plugin-creator-steps-content .padding-right-5{
    padding-right:5px;   
}

.melis-dashboard-plugin-creator-steps-content .tab-count-input{
   margin-top:-16px;
   min-width: 100px; 
}

.melis-dashboard-plugin-creator-steps-content .multi{
   max-width:12%!important;
}

.grid-stack-item-content .clear{
    margin: 85px;
}

@media screen and  (max-width: 768px) {
    #tab_count_div{
        margin-left:-15px; 
        margin-top:15px;
    }
}

/*for the radio boxes*/
.melis-dashboard-plugin-creator-steps-content .plugin-creator-radio .form-control{
    width:15px!important;
}

.melis-dashboard-plugin-creator-steps-content .plugin-creator-radio label{
    font-weight: 600 !important;
}

.melis-dashboard-plugin-creator-steps-content .plugin-creator-radio label > input[type="radio"] {
    display: none;
}

.melis-dashboard-plugin-creator-steps-content .plugin-creator-radio label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    padding: 8px;
}

.melis-dashboard-plugin-creator-steps-content .plugin-creator-radio label > input[type="radio"]:checked + *::before {
    background: radial-gradient(#ce5459 0%, #ce5459 40%, transparent 50%, transparent);
    border-color: #ce5459;
}

.melis-dashboard-plugin-creator-steps-content .melis-radio-box{
    padding-left: 0px;
}

#dpc_existing_module_name{
    min-width: 200px;
}